@import "opensans/opensans.css";
@import "roboto/roboto.css";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  // this defines what 1rem is
  font-size: 62.5%; // 1rem =10px; 10px/16px = 62.5%

  @media (max-width: 1800px) {
    font-size: 75%; // 1rem =9px; 
  }

  @media (max-width: 1200px) {
    font-size: 56.25%; // 1rem =8px;
  }

  @media (max-width: 900px) {
    font-size: 50%; // 1rem = 12px
  }

  @media (max-width: 600px) {
    font-size: 45%; // 1rem = 12px
  }
}

body {
  background-color: #e5e5e5;
}

.button {
  border-radius: 5px;
  border: 0;
  text-decoration: none;
  display: block;
  cursor: pointer;
  transition: .2s;
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 2rem;
}

.header {
  background: linear-gradient(111.24deg, #212957 13.99%, #505fb2 86.01%);
  padding-top: 4rem;
  padding-bottom: 15rem;
  color: #fff;
  margin-bottom: 10rem;
  @media (max-width: 600px){
    margin-bottom: 3rem;
   padding-top: 5rem;
  padding-bottom: 5rem;
  }

  &__container {
    max-width: 160rem;
   
  }

  &__heading {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 1.3;
    letter-spacing: .03em;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    @media (max-width:400px){
        font-size: 4rem;
    }
  }

  .heading {
    margin-top: 10rem;
    &_text {
      text-transform: lowercase;
    }

    &_accent {
      text-transform: lowercase;
      color: #84ddf3;
    }
    @media (max-width:600px){
        margin-top: 5rem;
    }
  }

  &__logo {
   
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1;
    letter-spacing: .03em;
   
    margin-left: 5rem;
    
    
  }

  &__text {
    max-width: 70rem;
    text-transform: lowercase;
    margin-left: auto;
    margin-right: auto;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.67;
    text-align: center;
    margin-bottom: 4rem;
    &-accent {
      text-transform: uppercase;
    }
  }

  &__button {
    background: #84ddf3;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1;
    padding: 2.2rem 9.2rem;
    letter-spacing: .03em;
    color: #0a0913;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: block;
    border: 2px solid #84ddf3;
    text-transform: uppercase;

    &:hover {
      background: #fff;
    }
  }
}

.ideas {
  margin-bottom: 12rem;
  @media (max-width: 600px){
    margin-bottom: 3rem;
  }

  &__container {
    max-width: 140rem;
  }

  &__heading {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    letter-spacing: .03em;
    color: #0a0913;
    margin-bottom: 4rem;
  }

  .card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 3rem;
  }

  .card {
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    width: 30.5rem;
    

    &__img {
      margin-bottom: 4rem;
      height: 10rem;
      max-width: 20rem;
      object-fit: contain;
    }

    &__heading {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 1.25;
      color: #0a0913;
      margin-bottom: 1rem;

      &-name {
        text-transform: uppercase;
      }
    }

    .stars {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;

      & > *:not(:first-child) {
        margin-left: .5rem;
      }
    }

    &__text {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 1.67;
      color: #0a0913;
      margin-bottom: 3rem;
    }

    &__button {
      background: #84ddf3;
      border: 1px solid #84ddf3;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 1.6rem;
      letter-spacing: .03em;
      color: #0a0913;
      width: 100%;
      padding: 1.2rem 0;

      &:hover {
        border: 1px solid #84ddf3;
        background-color: #fff;
        color: #84ddf3;
      }
    }

    &:hover {
      background: #edfbff;
      box-shadow: 0 20px 20px rgba(34, 42, 88, .1), 0 32px 40px rgba(34, 42, 88, .1);
      border-radius: 5px;
    }
  }
}

.how {
  margin-bottom: 18rem;
  @media (max-width: 600px){
    margin-bottom: 3rem;
  }

  &__container {
    max-width: 131rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__right,
  &__left {
    padding: 2rem;
  }

  &__left {
    flex-basis: 40%;
    align-self: stretch;
    background: url("../img/img-left.svg") center/contain no-repeat;
  }


  &__right {
    flex-basis: 60%;
  }

  &__heading {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    letter-spacing: .02em;
    text-transform: uppercase;
    color: #010101;
    margin-bottom: 2.5rem;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.67;
    color: #000;

    &:first-of-type {
      margin-bottom: 4rem;
    }
  }
  @media (max-width: 900px){
    &__left{
        display: none;
    }
    &__right{
        flex-basis: 100%;
    }
    &__heading{
        text-align: center;
    }
  }
}

.questions {
  margin-bottom: 5rem;
  @media (max-width: 600px){
    margin-bottom: 3rem;
  }

  &__heading {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    letter-spacing: .02em;
    text-transform: uppercase;
    text-align: center;
    color: #010101;
    margin-bottom: 2rem;
  }
}

.form {
  width: fit-content;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;

  &__heading {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    text-align: center;
    color: #000;
    margin-bottom: 2.5rem;
    max-width: 53rem;
    padding: 0 2rem;
  }

  label {
    max-width: 420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    color: #000;
    border-radius: 5px;

    &:not(:last-of-type):focus-within {
      color: #84ddf3;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="number"] {
    width: 100%;
    margin-top: .5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    padding: 1.5rem;
    border: 0;
    outline: none;
    box-shadow: 0 32px 40px rgba(1, 1, 1, .1);

    &:focus {
      outline: 1px solid #84ddf3;
    }
  }
  #phone, #phone1 {
    padding-left: 5rem;

    @media (max-width:900px){
      padding-left: 7rem;
    }
  }
 

  .checkbox-label {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.57;
    color: rgba(1, 1, 1, .6);
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    margin-bottom: 4rem;

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #fff;
    }

    .privacy {
      color: #84ddf3;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }

    .checkmark::after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
    }

    input[type="checkbox"]:checked ~ .checkmark {
      background-color: #2196f3;
    }

    input[type="checkbox"]:checked ~ .checkmark::after {
      display: block;
    }
  }

  &__button {
    padding: 1.2rem 0;
    display: block;
    width: 100%;
    max-width: 420px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: .03em;
    color: #0a0913;
    background: #84ddf3;
    border: 2px solid transparent;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      background: #fff;
      border-color: #84ddf3;
      color: #84ddf3;
    }
  }
}

.footer {
  background: #0f0f0f;
  padding-left: 5rem;
  padding-top: 3rem;
  padding-bottom: 5.5rem;

  &__container {
    max-width: 1600px;
    padding-right: 16rem;
  }

  &__logo {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1;
    letter-spacing: .03em;
    color: #fff;
    margin-bottom: 2.5rem;
  }

  &__link,
  &__link a {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    display: inline-block;
    color: #fff;
  } 

  &__text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, .7);
    max-width: 86rem; 
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.iti__flag {background-image: url("../img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../img/flags@2x.png");}
}
.iti {
  display: block;
  margin-top: .5rem;
  margin-bottom: 2rem;
 
}
.iti__country-name{
color: #000;
}
.popup {
  z-index: 50;
  display: none;
  position: fixed;
 width: 100%;
 top:0;
 left: 0;
height: 100%;
background: rgba(#000, .5);

align-items: center;
justify-content: center;
.form {
  top: 3rem;

  .close {
    width: 2rem;
    height: 2rem;
    font-size: 3rem;
    background: none;
    border:0;
    position: absolute;
    top: 2rem;
    right: 2rem;
    transition: .2s;
    cursor: pointer;
    &:hover {
      transform: rotate(45deg) translate(0.7rem, -0.6rem);
    }
  }
  background: #fff;
position: relative;
  padding: 3rem;
  @media (max-width:560px){
    width: 90%;
   }

}
}

.iti__country-name {
  font-size: 2rem  ;
}